<div class="col-md-1 text-center no-padding">
  <p class="vote-count"><%= element.votes.count %></p>
  <p class="vote-count-sub-header">votes</p>
  <div class="answer-count-container">
    <p class="answer-meta answer-count"><%= element.answers.count %></p>
    <p class="answer-meta answer-count-sub-header">answers</p>
  </div>
</div>