<div class="row post-preview ">

  <%= render partial: 'meta', locals: {element: element} %>

  <div class="col-md-11">
    <li class="post-preview-title"><%= link_to element.title, question_path(element) %></li>
    <li><%= element.content[0..200] %></li>
  </div>

</div>