<div class="row static-width main-content-container">
  <div class="col-md-10 col-md-offset-1">

      <%= render 'questions/nav/frequent_nav' %>

    <ul>

      <% @trending.each do |qs| %>

        </li><%= link_to qs.title, question_path(qs.id) %></li>

      <% end %>

    </ul>

  </div>
</div>
