<div class="row static-width main-content-container">

  <div class="col-md-7 col-md-offset-1">

    <%= render 'questions/nav/votes_nav' %>

    <ul class="no-list-style">

      <% @highest_voted.each do |qs| %>

        <%= render partial: 'post_preview', locals: {element: qs} %>

      <% end %>

    </ul>

  </div>

  <div class="col-md-3 text-center">
    <%= render 'questions_count' %>
    <%= render 'ad' %>
  </div>

</div>

