<div class="row static-width text-center main-content-container">
  <div class="col-md-10 col-md-offset-1">

    <%= render 'nav' %>

    <%= render partial: 'layouts/errors', locals: {element: @user} %>

    <%= render 'form' %>

    <%= render 'registration_sub_form' %>

  </div>
</div>
