<strong class="white">OTHER</strong>
<br>
<br>
<div class="col-md-12 no-padding">
  <ul class="no-list-style no-padding">
    <li class="footer-nav-2-links"><%= link_to "Smack Apps", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Meta Stmack Exchange", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Area 51", '#', class: "link footer-nav-2" %></li>
    <li class="footer-nav-2-links"><%= link_to "Smack Undertone Careers", '#', class: "link footer-nav-2" %></li>
  </ul>
</div>
