<div class="row static-width main-content-container"> 
  <%= form_for Comment.new, url: question_comments_path(@question.id) do |t| %>

    <%= t.label :message %>
    <div><%= t.text_area :content %></div>

    <div><%= t.submit 'Submit comment' %></div>

  <% end %>
</div>
