<div class="row questions-nav-tab">
  <ul class="nav nav-tabs text-right">
    <li rol="presentation" class="active"><%= link_to "all", questions_path, class: "link" %></li>
    <li rol="presentation"><%= link_to "newest", questions_newest_path, class: "link" %></li>
    <li rol="presentation"><%= link_to "frequent", questions_frequent_path, class: "link" %></li>
    <li rol="presentation"><%= link_to "votes", questions_highest_voted_path, class: "link" %></li>
  </ul>
</div>