<div class="row">
  <ul class="nav nav-tabs">
    <li rol="presentation"><%= link_to "Log in", login_path, class: "link" %></li>
    <li rol="presentation" class="active"><%= link_to "Sign up", register_path, class: "link" %></li>
  </ul>
</div>