.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.no-list-style {
  list-style: none;
  padding: 0;
}

.inline {
  display: inline;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.static-width {
  margin: auto;
  max-width: 1300px;
}

.button {
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: .5rem;
}

.primary-gray {
  color: #B1B1B1;
}