.main-navbar {
  background: #232323;
}

.main-navbar-link-container {
  margin: .75rem 0;
}

.main-navbar-link {
  margin: 0 1rem;
}

.secondary-navbar {
  margin-top: 1rem;
}

.logo {
  width: 100%;
}

.secondary-navbar-link-container {
  margin-top: 3rem;
}

.secondary-navbar-link {
  background: #9EA3A9;
  padding: .5rem 1rem;
  margin: 0 .25rem;
}

.secondary-navbar-link:hover {
  background-color: #F69C55;
}