.active {
  border-top: 1px solid #F69C55;
  border-radius: 3px;
}

.login-form {
  margin-top: 4rem;
  padding: 3rem 2rem 8rem 2rem;
  border: 1px solid #EAEBEC;
}

.register-form {
  margin-top: 4rem;
  padding: 3rem 2rem 2rem 2rem;
  border: 1px solid #EAEBEC;
}

.login-register-button {
  background: #0077CC;
  border: 1px solid #0077CC;
  border-radius: 3px;
  padding: .75rem 2.5rem;
  margin-top: 1rem;
}

.form-field {
  margin: .5rem 0;
  width: 100%;
}

.more-login-options {
  padding-top: 2rem;
}

.registration-sub-div {
  margin-top: 2rem;
  padding: 2rem 0 1rem 0;
  border: 1px solid #EAEBEC;
}

.policy {
  margin-top: 3rem;
}

.registration-policy {
  color: #0077CC;
}