.main-footer {
  background: #242729;
}

.first-footer {
  margin-bottom: 4rem;
}

.footer-nav-1 {
  color: #99D4FF;
}

.footer-nav-1-links {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.first-footer{
  margin-top: 2rem;
}

.footer-nav-2 {
  color: #B9BDC1;
  font-size: 1.25rem;
}

.footer-nav-2-links {
  margin: .75rem;
  line-height: 1.75rem;
}


.third-footer {
  margin-top: 8rem;
  color: #B9BDC1;
  font-size: 1rem;
  line-height: 1rem;
}